@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
   width: 100%;
    height: 60px;
    background: #1f2937;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 30px;
    
    color: white;

}   
.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: auto;
    gap: 20px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;


}
.nav-links a {
    color: white;
    text-decoration: none;
}

#first-section {
    width: 100vw;
    height: auto;
    color: white;
    background: #1f2937;
    padding: 40px 0px 110px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
#info {
    width: 450px
}
#info > h1 {
    font-size: 3rem;
    font-weight: bold

}
.btn {
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    padding: 5px 10px;
    margin-top: 20px;
    font-weight: bold
}


img {
    min-width: 300px;
    height: 250px;
    object-fit: fill;
    border-radius: 10px;
    margin-left: 20px
}

#second-section {
margin: 30px 0px 110px 0px
}

#headline {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;

}
#flex-container {
    margin: 40px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex: 1
    
}
.img-placeholder {
    width: 110px;
    height: 110px;
    border: 3px solid #3882f6;
    border-radius: 5px
}


.text-placeholder {
    font-size: 12px;
    max-width: 110px
}

#third-section {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E5E7EB;
    padding: 50px 0px 50px 0px
}
blockquote {
    
}blockquote > p {
    font-size: 2rem;
    width:600px
}
cite {
    display: flex;
    justify-content: right;
    font-size: 1.5rem
}
#fourth-section {
    margin: 50px 0px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container {
    background: #3882f6; 
    padding: 40px ;
    width: 60%;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    

}

.container > p {
    font-size: 0.8rem
}
.signup-btn2{
    border: 2px white solid;
    
}

/* ResponsiveNess */

@media screen and (max-width: 480px){

   header > h1 {
        font-size: 1.7rem
   }
   .nav-links {
    font-size: 0.8rem;
    gap: 2px;
   }
   
   
   
    #first-section {
    padding-top: 100px;
        flex-direction: column;
    }
    img {

        margin-top: 40px
    }

    #info > h1 {
        font-size: 2rem;
        padding-bottom: 20px
    
    }
    #info > p {
        font-size: 0.8rem;
        

    }
    #info {
        text-align: center
    }

    blockquote > p {
        font-size: 1.5rem;
        width:80vw
    }
    cite {
        font-size: 1rem
    }

    #flex-container {
        flex-direction: column;
    }

    #fourth-section {
       font-size: 80% ;
       
    }
    #fourth-section .container {
        flex-direction: column;
        width: 80%
    }
}